---
- name: Clone eclipse.jdt.ls
  git:
    repo: https://github.com/eclipse/eclipse.jdt.ls
    dest: ~/dev/eclipse/eclipse.jdt.ls
- name: Build eclipse.jdt.ls
  command: ./mvnw clean install -DskipTests
  args:
    chdir: ~/dev/eclipse/eclipse.jdt.ls

- name: Clone java-debug
  git:
    repo: https://github.com/microsoft/java-debug
    dest: ~/dev/microsoft/java-debug
- name: Build java-debug
  command: ./mvnw clean install
  args:
    chdir: ~/dev/microsoft/java-debug

- name: Clone vscode-java-test
  git:
    repo: https://github.com/microsoft/vscode-java-test
    dest: ~/dev/microsoft/vscode-java-test
    force: true  # npm commands below modify the package.json
    version: main

- name: Build vscode-java-test
  command: ./mvnw clean verify -DskipTests
  args:
    chdir: ~/dev/microsoft/vscode-java-test/java-extension

- name: Create apps folder
  file:
    path: ~/apps/
    state: directory
    mode: 0700
- name: Create async-profiler folder
  file:
    path: ~/apps/async-profiler/
    state: directory
    mode: 0700


- name: Fetch sjk.jar
  get_url:
    url: https://repository.sonatype.org/service/local/artifact/maven/redirect?r=central-proxy&g=org.gridkit.jvmtool&a=sjk&v=LATEST
    dest: ~/apps/sjk.jar

- name: Get and unpack async-profiler
  unarchive:
    src: https://github.com/jvm-profiling-tools/async-profiler/releases/download/v2.8.3/async-profiler-2.8.3-linux-x64.tar.gz
    dest: ~/apps/async-profiler/
    remote_src: true
    creates: ~/apps/async-profiler/profiler.sh
    extra_opts:
      - --strip-components=1

- name: Get jfr converter
  get_url:
    url: https://github.com/jvm-profiling-tools/async-profiler/releases/download/v2.8.3/converter.jar
    dest: ~/apps/converter.jar


- name: Create jmc folder
  file:
    path: ~/apps/jmc/
    state: directory
    mode: 0700
- name: Get and unpack jmc
  unarchive:
    src: https://github.com/adoptium/jmc-build/releases/download/8.3.0/org.openjdk.jmc-8.3.0-linux.gtk.x86_64.tar.gz
    dest: ~/apps/jmc/
    remote_src: true
    creates: ~/apps/jmc/bin/jmc
    extra_opts:
      - --strip-components=1
- name: Create symlink for jmc
  file:
    src: ~/apps/jmc/jmc
    dest: ~/bin/jmc
    state: link

- name: Clone vscode-java-decompiler
  git:
    repo: https://github.com/dgileadi/vscode-java-decompiler
    dest: ~/dev/dgileadi/vscode-java-decompiler

- name: Clone vscode-pde
  git:
    repo: https://github.com/testforstephen/vscode-pde
    dest: ~/dev/testforstephen/vscode-pde
    force: true  # npm commands below modify the package.json

- name: Build vscode-pde
  command: npm install
  args:
    chdir: ~/dev/testforstephen/vscode-pde/

- name: Build vscode-pde part2
  command: gulp full_build
  args:
    chdir: ~/dev/testforstephen/vscode-pde/
