! X cursor
Xcursor.theme: Vanilla-DMZ
! Xcursor.size: 16


! XFT and Font settings
Xft*dpi:       96
Xft*antialias: true
Xft*hinting:   true
Xft*hintstyle: hintfull
Xft*rgba:      rgb
*font:-*-terminus-medium-*-*-*-14-140-*-*-*-*-*-*

urxvt.termName: rxvt-unicode-256color
urxvt.internalBorder: 0
urxvt.jumpScroll: true
urxvt*perl-lib:         /usr/lib/urxvt/perl/
urxvt.perl-ext-common: default,matcher,searchable-scrollback,clipboard,font-size
urxvt.matcher.button: 1
urxvt.pointerBlank: true
urxvt.saveLines: 40000
urxvt.scrollBar: false
urxvt.scrollTtyOutput: false
urxvt.scrollTtyKeypress: true
urxvt.scrollWithBuffer: true
urxvt*url-launcher: /usr/bin/dwb
urxvt*keysym.Mod4-c:   perl:clipboard:copy
urxvt*keysym.Mod4-v:   perl:clipboard:paste

! use c-plus and c-minus to change font size, requires urxvt-font-size-git on archlinux
urxvt*keysym.C-0x2b: perl:font-size:increase
urxvt*keysym.C-0x2d: perl:font-size:decrease
urxvt*depth: 32

urxvt*background: #1f1f1f
urxvt*foreground: #DDDDDD

! 0: black
urxvt*color0:  #000000
urxvt*color8:  #709080
!
!! 1: red
urxvt*color1:  #705050
urxvt*color9:  #dca3a3
!
!! 2: green
urxvt*color2:  #60b48a
urxvt*color10: #c3bf9f
!
!! 3: yellow
urxvt*color3:  #dfaf8f
urxvt*color11: #f0dfaf
!
!! 4: blue
urxvt*color4:  #506070
urxvt*color12: #9ebadc
!
!! 5: magenta
urxvt*color5:  #dc8cc3
urxvt*color13: #ec93d3
!
!! 6: cyan
urxvt*color6:  #8cd0d3
urxvt*color14: #93e0e3
!
!! 7: white
urxvt*color7:  #dcdccc
urxvt*color15: #ffffff
!
URxvt.colorBD: #ffcfaf
URxvt.colorUL: #ccdc90
URxvt.colorIT: #80d4aa

