! X cursor
Xcursor.theme: Vanilla-DMZ
! Xcursor.size: 16


! XFT and Font settings
Xft*dpi:       96
Xft*antialias: true
Xft*hinting:   true
Xft*hintstyle: hintfull
Xft*rgba:      rgb
*font:-*-terminus-medium-*-*-*-14-140-*-*-*-*-*-*
