
let mapleader = ","
set nu rnu numberwidth=4

nnoremap crr :action RenameElement<CR>
vnoremap crm :action ExtractMethod<CR>
vnoremap crv :action IntroduceVariable<CR>
nnoremap crv :action IntroduceVariable<CR>
nnoremap crf :action IntroduceField<CR>

nnoremap <leader>ff :action GotoFile<cr>
nnoremap <leader>fc :action GotoClass<cr>
nnoremap <leader>ft :action GotoSymbol<cr>
nnoremap <leader>d :action DebugClass<cr>
nnoremap <leader>r :action Refactorings.QuickListPopupAction<cr>
nnoremap <Leader>b :action ToggleLineBreakpoint<cr>
nnoremap <Leader>e :action EvaluateExpression<cr>
nnoremap <Leader>n :action Generate<cr>

nnoremap <leader>tr :action RerunTests<cr>
nnoremap <leader>tfr :action RerunFailedTests<cr>

nnoremap [m :action MethodUp<cr>
nnoremap ]m :action MethodDown<cr>
nnoremap ]w :action GotoNextError<CR>
nnoremap [w :action GotoPreviousError<CR>

nnoremap <leader>sv :source ~/.ideavimrc<CR>

