[user]
    name = Mathias Fussenegger
    email = f.mathias@zignar.net

[core]
    editor = vim
    autocrlf = input
    excludesfile = ~/.gitignore

[color]
    diff = auto
    status = auto
    branch = auto
    ui = true

[github]
    user = mfussenegger

[push]
    default = current

[merge]
    tool = gvimdiff
    conflictstyle = diff3

[mergetool]
    keepBackup = false

[diff]
    tool = vimdiff

[alias]
    lg = log --color --graph \
        --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' \
        --abbrev-commit --
    killbranches = !git branch --merged | grep -v '^*' \
                   | grep -v master | xargs git branch -d 2> /dev/null
    ls = ls-files
    pr = !~/bin/git-pull-request
    fixup = !git commit --fixup $(git rev-parse HEAD)
    serve = !git daemon --reuseaddr --verbose --base-path=. --export-all ./.git
    br = !git ls-remote -h . | awk '{print(substr($NF, 12))}' | fzf | xargs git checkout
    filter-commits = "!sh -c 'git log --pretty=format:\"%h - %an: %s\" $1 \
        | fzf --no-sort \
        | cut -d \" \" -f1 ' -"
    cpl = "!sh -c 'git log --pretty=format:\"%h - %an: %s\" $1 \
        | fzf --no-sort \
        | cut -d \" \" -f1 \
        | xargs git cherry-pick ' -"
    reset-file = "!sh -c 'git status --short \
        | fzf --no-sort \
        | cut -d \" \" -f3 \
        | xargs git checkout ' -"
    fixup-to = !git commit --fixup=$(git filter-commits)
    prune-all = !git remote | xargs -n1 git remote prune
    co-recurse = !sh -c 'git checkout $1 && git submodule update --recursive' -
    co-file = "!sh -c 'git ls-tree --name-only -r $1 \
        | fzf \
        | xargs git checkout $1 -- ' -"
[instaweb]
    httpd = webrick
[rebase]
	autosquash = true
[rerere]
	enabled = true
