[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/acp"]
	path = .vim/bundle/acp
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/dbext"]
	path = .vim/bundle/dbext
	url = https://github.com/vim-scripts/dbext.vim.git
[submodule ".vim/bundle/python-mode"]
	path = .vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = git@github.com:chobojordi/snipmate.vim.git
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
