[submodule "zprezto"]
	path = zprezto
	url = https://github.com/mfussenegger/prezto.git
[submodule "vim/.vim/bundle/neobundle.vim"]
	path = vim/.vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
