vim/.netrwhist
vim/.vim/bundle/
vim/.vim/autoload
vim/.vim/.netrwhist
vim/.vim/spell/
shell/.zsh/plugins/
systemd/.config/systemd/user/default.target.wants/
*.retry
bin/bin/Dm
bin/bin/xbacklight
bin/bin/term2mp4
bin/bin/gh-maybe-clone
bin/bin/pin-qemu
bin/bin/nlua
bin/bin/mk4
bin/bin/*.hi
bin/bin/*.dyn_hi
bin/bin/*.dyn_o
playbooks/roles/tmptask/
python/.ipython/profile_default/history.sqlite
python/.ipython/profile_default/startup/
.mypy_cache/
